.skills_main {
	h2 {
		border-bottom: 1px solid #fff;
		box-shadow: 0 23px 26px -20px #fff;
		padding: 10px;
	}
	.skills {
		margin: 4vw 10vw;
		text-align: start;
		ul {
			font-family: "Stylish", sans-serif;
			list-style-type: circle;
			font-size: x-large;
		}
	}
}
