.sucheta-container {
	min-height: 100vh;
	.headings {
		position: relative;
		top: 30%;
		font-size: 1rem;
		span {
			position: relative;
			top: 2%;
			font-size: 1.2rem;
			color: rgba(235, 235, 235, 0.808);
		}
		h1 {
			font-size: 4rem;
		}
		.info-block {
			position: relative;
			width: 75%;
			left: 15%;
		
			p {
				color: rgba(235, 235, 235, 0.808);
				word-spacing: 5px;
				line-height: 2rem;
			}
		}
	}
	.devImg {
		margin: 2rem;
		
		img {
			width: 70%;
			height: auto;
			border: 2px solid gray;
			box-shadow: 0 0 42px rgba(255, 255, 255, 0.38);
		
		}

	}

	@media only screen and (max-width: 768px) {
		.devImg {
			img {
				margin: 25% 0% 2% 0%;
			}
		}
	}
}
